################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NovelTTSApp/src/App/bin/Debug/net10.0
/NovelTTSApp/src/Core/bin/Debug/net10.0
/NovelTTSApp/src/Core/obj/Debug/net10.0
/NovelTTSApp/src/Infrastructure/bin/Debug/net10.0
/NovelTTSApp/src/Infrastructure/obj/Debug/net10.0
/NovelTTSApp/.vs/NovelTTSApp
/NovelTTSApp/src/App/obj/Debug/net10.0
/NovelTTSApp/src/App/obj/NovelTTSApp.App.csproj.nuget.dgspec.json
/NovelTTSApp/src/App/obj/NovelTTSApp.App.csproj.nuget.dgspec.json
/NovelTTSApp/src/App/obj/project.assets.json
/NovelTTSApp/src/App/obj/project.nuget.cache
/NovelTTSApp/src/Core/obj/NovelTTSApp.Core.csproj.nuget.dgspec.json
/NovelTTSApp/src/Core/obj/project.nuget.cache
/NovelTTSApp/src/Infrastructure/obj/NovelTTSApp.Infrastructure.csproj.nuget.dgspec.json
/NovelTTSApp/src/Infrastructure/obj/project.assets.json
/NovelTTSApp/src/Infrastructure/obj/project.nuget.cache
NovelTTSApp/.vs/ProjectEvaluation/novelttsapp.metadata.v10.bin
NovelTTSApp/.vs/ProjectEvaluation/novelttsapp.projects.v10.bin
NovelTTSApp/.vs/ProjectEvaluation/novelttsapp.strings.v10.bin
/EpubToSplitTxt/bin/Debug/net9.0
/EpubToSplitTxt/obj/Debug/net9.0
*.cache
*.targets
/EpubToSplitTxt/obj/EpubToSplitTxt.csproj.nuget.g.props
/EpubToSplitTxt/obj/EpubToSplitTxt.csproj.nuget.dgspec.json
/EpubToSplitTxt/obj
/EpubToSplitTxt/.vs/EpubToSplitTxt
